@mixin flexCSS($justfyContent:center, $alingItems:center) {
  display: flex;
  justify-content: $justfyContent;
  align-items: $alingItems;
}

@mixin burgerMenu() {
  content: '';
  position: relative;

  display: block;
  width: 3rem;
  height: 0.2rem;

  background: var(--white-100);
  margin-top: 1rem;
  transition: .3s;
}

@mixin title() {
  font-size: var(--xl);
  font-weight: 900;
  margin-bottom: 1rem;
}