@import '../../sass/mixin.scss';

.container{
  @include flexCSS();
  flex-direction: column;

  .title{
    text-align: center;

    h2{
      @include title();
    }
  }
}

.statistics{
  @include flexCSS();
  flex-wrap: wrap;
  gap: 18rem;
  padding: 10rem 0;

  .box{
    @include flexCSS();
    flex-direction: column;

    h4{
      font-size: var(--3xl);
      color: var(--red-100);
    }
  }
} 

@media (max-width: 48rem){
  .statistics{
    gap: 6rem;
  }
}