.button{
  padding: 1rem 2.4rem;
  border: 0.2rem solid var(--dark-200);
  border-radius: 1rem;
  background: linear-gradient(to right, var(--dark-200), var(--red-200), var(--dark-200));

  color: var(--white-100);
  font-size: var(--xsm);
  font-weight: 500;
  transition: .3s;

  &:hover{
    transform: scale(0.95);
  }
}