@import '../../sass/mixin.scss';

.guaranteeSection{
  text-align: center;

  h2{
    @include title();
  }

  .guaranteeGrid{
    @include flexCSS(space-around);
    flex-wrap: wrap;
    margin-top: 10rem;
  }
}

.container{
  @include flexCSS(start);
  flex-direction: column;
  gap: 1.6rem;
  text-align: center;
  width: 28rem;
  height: 25rem;

  h3{
   font-size: var(--m); 
  }
}