@import '../sass/mixin.scss';

.title{
  margin-bottom: 4rem;

  >h2{
    @include title();
  }
}

.grid{
  @include flexCSS();
  gap: 8rem;
  padding-top: 4rem;

  >img{
    width: 36rem;
    object-fit: cover;
  }

  .rigthContent{
    h3{
      font-size: var(--l);
      font-weight: 700;
      margin-bottom: 1rem;
    }
    p, li{
      font-size: var(--xsm);
    }

    li img{
      width: 1.8rem;
    }

    a{
      font-size: var(--xsm);
      color: var(--red-100);

      &:hover{
        text-decoration: underline
      }
    }

    .list{
      @include flexCSS(start, start);
      flex-direction: column;
      gap: 1rem;
      padding: 2rem 0;

      li{
        @include flexCSS();
        font-weight: 700;
        gap: 1rem;
      }
    }
  }
}

@media (max-width: 48rem){
  .grid{
    flex-wrap: wrap;

    img{
      width: 30rem;
    }
  }
}