@import '../../sass/mixin.scss';

.planSection .container{  
  @include flexCSS();
  flex-direction: column;
  margin: 0 11rem;
  gap: 6rem; 
  
  .title{
    margin-bottom: 4rem;
  
    >h2{
      font-size: var(--xl);
      font-weight: 700;
      margin-bottom: 1rem;
    }
    >p{
      font-size: var(--sm);
    }
  }
}

@media (max-width: 64rem) {
  .planSection .container{  
    margin: 0;
    gap: 6rem; 
  }
}
