@import '../../sass/mixin.scss';

.navbar{
  @include flexCSS(space-between);

  .navlist{
    @include flexCSS();
    gap: 2rem;

    a{
      font-size: var(--sm);
      font-weight: 500;    
      
      color: var(--white-100);

      position: relative;

      &::after{
        content: '';
        position: absolute;
        display: block;
        height: 2px;
        width: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, #f10000, rgba(133, 5, 5, 0.274));
        transition: all .30s ease;
      }
      
      &:hover::after{
        width: 100%;
      }
    }

    .navlink{    
      color: var(--red-100);
    }
  }
}
