@import "../../sass/mixin.scss";

.footerContainer {
  padding: 6rem 25%;
  text-align: center;

  p {
    font-size: var(--xsm);
    margin-top: 4rem;
  }

  .contributionsContainer {
    h2 {
      font-size: var(--m);
      font-weight: 500;
      color: var(--gray-200);
      margin-bottom: 4rem;
    }

    .contributionCompany {
      @include flexCSS();
      gap: 4rem;
      margin-bottom: 6rem;
    }
  }

  .container {
    @include flexCSS(space-between);
    flex-wrap: wrap;
    gap: 3rem;

    .socialMedia {
      @include flexCSS();
      gap: 1rem;
      cursor: pointer;
    }
  }

  .footerLinks {
    @include flexCSS();
    gap: 4rem;
    margin-top: 4rem;

    a {
      font-size: var(--sm);
      color: var(--dark-200);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 48rem) {
  .footerContainer {
    padding: 4rem 2%;

    .container {
      justify-content: center;
    }

    .footerLinks {
      flex-direction: column;
    }
  }
}
